/********************************************* 
 Common Styles
 ********************************************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #FFF;
	color: #4c4747;
	font-family: 'Roboto', sans-serif;;
	font-weight: 400;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 3%;
}


h1 {
	margin: 0;
	font-weight: 350;
}

h2 {
	font-weight: 300;
	text-transform: uppercase;	/*Команда делает все буквы большими*/
	letter-spacing: 2px;
	word-spacing: 2px; /*указывает растояние между совами*/
	text-align: center; /*устанавливает текст по центру*/
	margin-bottom: 30px;
	border-left: 20px;
	margin-right: 20px;

}

h2:after {
	display: block;
	height: 2px;
	background-color: #f84000;
	content: " ";
	width: 150px;
	margin: 0 auto;
	margin-top: 30px;  /*код для полоски под текстом*/

}

h3 {
	font-weight: 300;
	text-transform: uppercase;	
	letter-spacing: 2px;
	word-spacing: 2px; 
	text-align: center; 
	margin-bottom: 30px;
	font-size: 80%;
	margin-top: 10px;
}

section {
	padding: 100px 0;
	clear: both; /*Если к предведущей секции был применен float, то он сбрасываеться ( нужно для того чтобы сзделать отступ с верху)*/

} 

section p,
#contact-form {
	font-size: 90%;
}

.float-clearing {
	zoom: 1;
}

.float-clearing:after {
	zoom: 1;
	content: " ";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}



/********************************************* 
 Header Styles
 ********************************************/


header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.0)), url(../images/header.jpg);  /*linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), (пишеться между командой background-image,)*/
	height: 100vh;]
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	
}   



#header-text {
	padding-top: 150px;
	color: #f84000;
}

#header-title {
	font-style: normal;
	max-width: 32.74%;
	margin-left: 8.33%;
	padding: 15px;
	text-transform: uppercase;   
	letter-spacing: 0.179487em;  /*Команда устанавливает растояния между буквами по горизонтале*/
	font-size: 3.0vw;
	line-height: 4.0vw;    /*Указывает растояние между строками по вертикале*/
	
}






#logo-image {
	height: 80px;
	width: auto;
	float: left;    /*Устанавливает обЪект с левой стороны*/
	margin-left: 8px;
	margin-top: 8px;
	
}


/********************************************* 
 Navigation Styles
 ********************************************/

#main-nav {
 float: right;
 list-style: none; /*Команда убирает точки у ненумированого списка*/
 margin-top: 0px;
}

#main-nav li {
	display: inline-block; /*Команда устанавливает список по горизонтали*/ 
	margin-right: 50px;
	font-size: 1.1em;
	padding: 8px 0;


}

#main-nav li a {
	text-decoration: none; /*Комана убирает подчеркивание в ссылках, которые стоят там по умолчанию*/
	text-transform: uppercase;
	color: #f84000;	
	opacity: 0.9;

}

#main-nav li a:hover {
	color: #f84000;	
	opacity: 1;

}



#sticky-nav #main-nav li a:hover {
	text-decoration: none; 
	text-transform: uppercase;
	color: #f84000;
	opacity: 1;	
}

#sticky-nav {
	position: fixed; /*обект продолжает двигаться вместе с скролом. Использовать для верхней панели*/
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 2;
	height: 90px;


}

#sticky-nav #main-nav li a {
	text-decoration: none; 
	text-transform: uppercase;
	color: #f84000;	
	opacity: 0.9;
	}

#sticky-nav	.mobile-nav-icon ion-icon {
	top: 0;
	left: 0;	
	color: orange;

}



nav {
	
	height: 70px;
	padding: 25px;
	font-size: 0.8em;
	padding-top: 37px;

}



/********************************************* 
 Button Styles
 ********************************************/

#header-buttons {
	margin-top: 20px;
	margin-left: 8.32%;
	padding: 15px;
	

}


.buttons {
	display: inline-block;  /*команда инлайн блок делает так чтобы блоки ишли друг за другом в ряд по горизонтале*/
	padding: 10px 30px;	
	text-decoration: none;
	color: #fff;
	border-radius: 150px;
	font-weight: 300;

}	

.button-order {
	margin-right: 10px;
	background-color: #f84000;
	border: 1px solid #f84000;
}	

.button-more {
	border: 1px solid #f84000;
	color: #f84000;
}

.buttons:hover,
.buttons:active {
	background: #d63700 ;
	color: #FFF;
	transition: background-color 0.3s, border 0.3s;	 /*команда устанавливает задержу перед переходоами функции hover*/

}

input[type=submit],
input[type=submit] {
	padding: 10px 30px;	
	text-decoration: none;
	color: #000;
	border-radius: 150px;
	font-weight: 300;
	border: 1px solid #f84000;

}


input[type=submit]:hover,
input[type=submit]:active {
	padding: 10px 30px;	
	text-decoration: none;
	color: #FFF;
	border-radius: 150px;
	font-weight: 300;
	background-color: #f84000;
	border: 1px solid #f84000;

}

/********************************************* 
 Icon Styles
 ********************************************/

.mobile-nav-icon {
display: none; /*Убирает обект из диспея*/
cursor: pointer; /*делает обект клткабельным, но это не сыылка*/
position: absolute;
top: 0;
right: 0;	
margin-top: 15px;
margin-right: 15px;
}

.mobile-nav-icon ion-icon {
	color: #FFF;
	font-size: 250%;
	
	
} 

#restaurant-descriptions ion-icon {
	font-size: 300%; 
	color: #f84000; 
	margin-bottom: 15px;
}

#restaurant-descriptions ion-icon:hover {
	color: #d63700; 
	transition: color 0.3s;
}


/********************************************* 
 Features Styles
 ********************************************/
	
	#headline-text {
		text-align: center;
		margin-bottom: 30px;
		margin-right: 20px;
		margin-left: 20px;
	}


	/********************************************* 
 Food Images Styles
 ********************************************/
	
.images-coutainer {
	list-style: none;
	width: 100%;
}

.images-coutainer li {
	display: block;
	float: left;
	width: 25%;
}

.food-images {
	width: 100%;
	overflow: hidden; /*Эта функция скрывает части, которые вылазять за пределы страницы, тем самым размер основной траницы не будем ломаться*/
	background-color: #000;
}

.food-images img {
	width: 100%;
	height: auto;
	transform: scale(1.2);  /*функция может уведичивать картинки в % или уменьшать*/
	opacity: 0.8; /*Функция регулирует прозрачность элемента*/
}


.food-images img:hover {
	transform: scale(1.05);
	transition: transform 1.3s, opacity 0.5s;
	opacity: 1.0;
	z-index: 1;
}

	/********************************************* 
 How To Order Styles
 ********************************************/

#phone-image {
	width: 50%;
	margin-left: 100px;
	margin-top: 50px;
}

#phone-image-container {
	margin-left: 10%;
	margin-right: 3%;
}

.order-step {
	margin-top: 80px;
}

.order-step div {
	color: #f84000;
	background-color: #FFF;
	border: 2px solid #f84000;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 155px;
	padding-top: 6px;
	font-size: 150%;
	display: inline-block;
	float: left;
	margin-right: 20px;
}

.order-step p {
	padding-top: 4px;
	font-size: 102%;
}

.app-button img {
	height: 50px;
	margin-right: 16px;
}

.order-step:last-of-type { /*Псевдо клас этого элемента обращаеться к поледнему классу в блоке*/
	margin-bottom:70px; 

}

/********************************************* 
 Cities Styles
 ********************************************/

.col-3 img {
	width: 100%;
}

.city-info {
	ont-weight: 300;
	letter-spacing: 2px;
	word-spacing: 2px; 
	font-size: 70%;
}

.city-info ion-icon {
	color: #f84000;
	display: inline-block;
	text-align: center;
	width: 30px;
}

#cities-section {
	background-color: #e0e0ed;

}

/********************************************* 
 Feed Back Styles
 ********************************************/

#feedback-section {
	background-image: url(../images/feed-back.jpg);
	background-size: cover;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../images/feed-back.jpg);
	height: 100vh;
	background-position: center;
	color: #FFF;
	background-attachment: fixed; /*Команда длетает так что изображения как будто постепенно появляеться при скроле*/
	
}

#feed-back-header {
	color: #FFF;
}

blockquote {
	font-style: italic;
	font-weight: 300;
	line-height: 150%;

}

blockquote div:before {
	content: "\201D";
	font-size: 300%;
}

blockquote:after {
	content: "\201D";
	font-size: 300%;
	line-height: 150%;
}

cite {
	display: block;
	text-align: center;
	margin-bottom: 30px;
}

cite img {
	display: inline-block;
	width: 100px;
	border: 2px solid #f84000;
	border-radius: 50%;


}

/********************************************* 
 Contact Form Styles
 ********************************************/


#contact-form {
	width: 50%;
  margin: 0 auto;

}

input[type=text],
input[type=email],
select,
textarea {
	width: 100%;
	padding: 5px;
	border-radius: 5px;
	border: 2px solid #f4dfbe;
}

textarea {
	height: 150px;
}

/********************************************* 
 Footer Styles
 ********************************************/

footer {
text-align: center;
padding: 100px 0;
background-image: linear-gradient(rgba(255, 255, 255, 0.0), rgba(231, 60, 0, 0.2),rgba(231, 60, 0, 0.3));

}

#footer-social-links {
	list-style: none;
	margin-left: 30px;
	margin-bottom: 20px;
}

#footer-social-links li {
	display: inline-block;
	font-size: 1.1em;
	margin-right: 30px;
}

#footer-nav {
	margin-bottom: 20px;
}

#footer-nav li a:link,
#footer-nav li a:visited {
	text-decoration: none;
	text-transform: uppercase;
	color: #000;	
	font-size: 80%;

}

#footer-nav li a:hover,
#footer-nav li a:active {
	text-decoration: none; 
	text-transform: uppercase;
	color: #f84000;
	opacity: 1;
	transition: color 0.3s;
}

#footer-social-links ion-icon { 
	margin-bottom: 15px;
	color: #000;
	font-size: 110%;
	
}

#footer-social-links ion-icon:hover,
#footer-social-links ion-icon:active {
	color: #f84000; 
	transition: color 0.1s;
}

/********************************************* 
 Media Query Styles
 ********************************************/

@media only screen and (max-width: 1348px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  .button-order {
  	margin-bottom: 15px;
  }

  #phone-image {
	width: 46%;

	margin-top: 50px;
}

#contact-form {
	width: 80%;
  margin: 0 auto;

}

blockquote div:before {
	content: "\201D";
	font-size: 300%;
}

blockquote:after {
	content: "\201D";
	font-size: 300%;
	line-height: 150%;
}

cite {
	display: block;
	text-align: center;
	margin-bottom: 10px;
}

cite img {
	display: inline-block;
	width: 80px;
	border: 2px solid #f84000;
	border-radius: 50%;

}

#feedback-section {
	height: 140vh;
}




 }

 @media only screen and (max-width: 450px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  #feedback-section {
	height: 150vh;
}

cite img {
	width: 70px;
	

}
}

@media only screen and (max-width: 310px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  #feedback-section {
	height: 180vh;
}

cite img {
	width: 70px;
	

}
}

@media only screen and (max-height: 840px) {

 #feedback-section {
	height: 160vh;

	}
}

@media only screen and (max-height: 640px) {

 #feedback-section {
	height: 200vh;

	}
}

@media only screen and (max-width: 379px) {

.app-button img {
	width: 125px;
	height: 41px;
	margin-right: 0;
}


}

@media only screen and (max-width: 280px) {
 #feedback-section {
	height: 220vh;

	}
}

@media only screen and (max-width: 1000px) {

	.mobile-nav-icon {
		display: inline-block;
	}

	#main-nav {
	display: none;
	}

	#main-nav li {
			display: block; /*Устанавливает компоненты друг под другом*/

	}

	#main-nav li a:link,
	#main-nav li a:visited  {
		display: block;

	}


}

/********************************************* 
 Animation Styles
 ********************************************/

.anim1 {
	opacity: 0;	
}

.anim1.animated {
	opacity: 1;	
	animation-duration: 0.5s; /*Устанавливает скорость появления анимации*/
}

.anim2 {
	opacity: 0;
}

.anim2.animated {
	opacity: 1;
	animation-duration: 0.5s;
}

.anim3 {
	opacity: 0;
}

.anim3.animated {
	opacity: 1;
	
}

.anim4 {
	opacity: 0;
}

.anim4.animated {
	opacity: 1;
	
}

.anim5 {
animation-duration: 0.5s;
}

 
